/*
 * どんなデザインでも必ず設定したいスタイル
 * <html lang="ja" xml:lang="ja">とかしないと効果が無い場合も
 * あるので注意．それと円マークだけど，HTMLはこれから全て
 * UTF-8で書くことにして，円マークが使いたくなったら
 * Unicodeで定義されている「U+00A5」を使うか「&yen;」
 * を使うことにしよう．(U+00A5をここにコピペしておく「¥」)
 */

body {
  /* 以下の2行は両端揃の設定lang="ja" xml:lang="ja"が必要 */
  text-align: justify;
  text-justify: inter-ideograph;
  line-height: 1.2 /* lang="ja" xml:lang="ja" だと広がるっぽいので */
}

p {
  text-indent: 1em !important; /* 段落最初は一文字字下げ */
}

/* ----- */

#stdio {
  background: #000;
  color: #fff;
  font-family: "Osaka-mono", "Osaka-等幅", "ＭＳ ゴシック", "Consolas", "Courier New", monospace;
  font-size: 14px;
  width: 40em;
  height: 25ex;
}

#stdio2 {
  background: #888;
  color: #0f0;
  font-family: "Osaka-mono", "Osaka-等幅", "ＭＳ ゴシック", "Consolas", "Courier New", monospace;
  font-size: 14px;
  width: 40em;
  height: 25ex;
}

